@import "tailwindcss";

:root {
  --background: #ffffff;
  --foreground: #030718;
  --purple: #6a54ff;
	--q: #57e1ff;
	--white: #fff;
    --font-family: "IBM Plex Sans", sans-serif;
}

@theme inline {
  --color-background: var(--background);
  --color-foreground: var(--foreground);
  --color-background-btn-hover: var(--q);
  --color-text-numbers: var(--purple);
  --font-sans: var(--font-geist-sans);
  --font-mono: var(--font-geist-mono);
  --color-background-purpure: var(--purple);
  
}

@media (prefers-color-scheme: dark) {
    :root {
      --background: #030718;
      --foreground: #ffffff;
    }
  }
  
  body {
    background: var(--background);
    color: var(--foreground);
    font-family: var(--font-family);
  }

@layer utilities {
    .button-mobile-menu {
        background: rgba(87, 225, 255, 0.2);
        box-shadow: 0 0 4px 0 var(--q);
        color: var(--q);
        border: 2px solid var(--q);
    
    }
    

    .button-header {
        background: rgba(87, 225, 255, 0.2);
        box-shadow: 0 0 4px 0 var(--q);
        color: var(--q);
        border: 1.50px solid var(--q);
    
    }

    .button-hero {
        border: 1px solid var(--q);
        border-radius: 3px;
        /*padding: 11px 24px;*/
        box-shadow: 0 0 4px 0 var(--q);
        background: var(--q);

    
    }
    @layer base {
        input::placeholder {
          opacity: 0.34;
        }
      }
    
   
    .text-bt-hover {
        color: #030718;
      }

      
  }

  

@theme {
    --breakpoint-2xl: 90rem; /* 1440px */
  }

  @theme {
    --text-mobile: 24px;
    --text-mobile--line-height: 30px; 
    --text-mobile--font-weight: 500; 
    --text-button-mobile: 16px;
    --text-button-mobile--line-height: 20px; 
    --text-button-mobile--font-weight: 500; 
    --text-button-header: 14px;
    --text-button-header--line-height: 20px; 
    --text-button-header--font-weight: 500;
    --text-hero-title: 35px;
    --text-hero-title--line-height: 40px; 
    --text-hero-title--font-weight: 700; 
     
  }



.container {
    max-width: 375px;
    padding: 0 16px;
    margin-left: auto;
    margin-right: auto;
  }

 
  
  @media (min-width: 1440px) {
    /* 2xl: Великі десктопи */
    .container {
      max-width: 1440px;
      padding: 0 80px;
    }
  }
