@import "tailwindcss";

:root {
  --background: #ffffff;
  --foreground: #171717;
}

@theme inline {
  --color-background: var(--background);
  --color-foreground: var(--foreground);
  --font-sans: var(--font-geist-sans);
  --font-mono: var(--font-geist-mono);
  
}

@theme {
    --breakpoint-xs: 30rem;  /* 480px */
    --breakpoint-2xl: 90rem; /* 1440px */
    --breakpoint-3xl: 120rem; /* 1920px */
  }

  @theme {
    --text-mobile: 24px;
    --text-mobile--line-height: 30px; 
    --text-mobile--font-weight: 500; 
    --text-botton: 16px;
    --text-botton--line-height: 20px; 
    --text-botton--font-weight: 500; 
     
  }

@media (prefers-color-scheme: dark) {
  :root {
    --background: #0a0a0a;
    --foreground: #ededed;
  }
}

body {
  background: var(--background);
  color: var(--foreground);
  font-family: Arial, Helvetica, sans-serif;
}

.container {
    max-width: 375px;
    padding: 0 15px;
    margin-left: auto;
    margin-right: auto;
  }

 
  
  @media (min-width: 1440px) {
    /* 2xl: Великі десктопи */
    .container {
      max-width: 1440px;
      padding: 0 80px;
    }
  }
